@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 225 11% 13%;
    --foreground: 210 40% 96%;
    --card: 225 11% 16%;
    --card-foreground: 210 40% 96%;
    --popover: 225 11% 13%;
    --popover-foreground: 210 40% 96%;
    --primary: 232 59% 63%;
    --primary-foreground: 210 40% 98%;
    --secondary: 225 11% 25%;
    --secondary-foreground: 210 40% 98%;
    --muted: 225 11% 20%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 194 80% 65%;
    --accent-foreground: 225 11% 13%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 225 11% 25%;
    --input: 225 11% 25%;
    --ring: 232 59% 63%;
    --radius: 0.5rem;
    
    --chart-1: 232 59% 63%;
    --chart-2: 194 80% 65%;
    --chart-3: 173 58% 39%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
